<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

    <head th:fragment="head">
        <title>Cronograma INA</title>
        <meta charset="UTF-8"/>

        <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.0.1/css/bootstrap.min.css}"/>

        <link rel="stylesheet" th:href="@{/webjars/font-awesome/5.15.4/css/all.css}"/>
        <script th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
        <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/5.0.1/js/bootstrap.min.js}"></script>
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css"/>
        <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
        <link href="../../static/estilo.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header th:fragment="header">
            <div class="container-fluid">
                <div class="row min-vh-100 flex-column flex-md-row">
                    <aside>
                        <nav class="navbar navbar-expand-md navbar-dark bd-dark flex-md-column flex-row align-items-center py-2 text-center " id="sidebar">
                            <div class="text-center p-3">

                                <img src="/static/images/logo.png" alt="profile picture" class="img-fluid rounded-circle my-4 d-none d-md-block bg-light"/>
                                <a th:href="@{/}" class="navbar-brand mx-0 font-weight-bold  text-nowrap" >Cronograma INA</a>
                            </div>
                            <button type="button" class="navbar-toggler border-0 order-1" data-toggle="collapse" data-target="#nav" aria-controls="nav" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>

                            <div class="collapse navbar-collapse order-last" id="nav">
                                <ul class="navbar-nav flex-column w-100 justify-content-center">
                                    <li class="nav-item">
                                        <a th:href="@{/modulos}" class="nav-link font-weight-bold" >Agregar Módulos</a>
                                    </li>
                                    <li class="nav-item">
                                        <a th:href="@{/programas}" class="nav-link font-weight-bold">Agregar Programas</a>
                                    </li>
                                    <li class="nav-item">
                                        <a th:href="@{/profesores}" class="nav-link font-weight-bold">Agregar Profesores</a>
                                    </li>
                                    <li class="nav-item">
                                        <a th:href="@{/referencias}" class="nav-link font-weight-bold">Agregar Referencias</a>
                                    </li>
                                    <li class="nav-item">
                                        <a th:href="@{/cronogramas}" class="nav-link font-weight-bold">Ver Cronogramas</a>
                                    </li>
                                    <li class="nav-item">
                                        <a th:href="@{/diasFeriados}" class="nav-link font-weight-bold">Agregar Días No Lectivos</a>
                                    </li>
                                    <li class="nav-item">
                                        <a th:href="@{/mensajesAdmin}" class="nav-link font-weight-bold">Mensajes</a>
                                    </li>
                                    <li class="nav-item">
                                        <a th:href="@{/contrasena}" class="nav-link font-weight-bold">Actualizar Contraseña</a>
                                    </li>
                                </ul>
                            </div>      
                        </nav>   
                        <div th:if="${msg!=null and !msg.empty}">
                            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                <strong>Mensaje: </strong> <span th:text="${msg}">texto</span>
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div> 
                        </div>
                    </aside>
                </div>
            </div>
        </header>
    </body>
</html>
