<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
    <head th:replace="plantillas/plantilla1 :: head">
        <title>TODO supply a title</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body style="display: flex">
        <header th:replace="plantillas/plantilla1 :: header"></header>
        <div class="container mt-3 py-3 bg-light rounded-3">
            <div class="card">
                <div class="card-header">
                    <label for="nombrePrograma" class="form-label">Seleccione el módulo</label>
                </div>
                <div class="card-body">
                    <div>
                        <form th:action="@{/moduloAsociar/}+${referencia.idReferencia}" method="post" th:object="${referencia}">
                            <input type="hidden" id="idModulo" name="idModulo" value=""
                                   th:field="${modulo.idModulo}" class="form-control"/>
                            <input type="text" id="nombreModulo" name="nombreModulo" value="" readonly="true"
                                   class="form-control"/>
                            <a id="btnBuscarM" class="btn btn-success" data-bs-toggle="modal"
                               data-bs-target="#modalModulos"><i class="fas fa-binoculars"></i>Buscar</a>
                               <br/>
                               <input class="form-control btn btn-primary" type="submit" value="Guardar"/>
                        </form>
                    </div>

                    <section>
                        <div class="modal fade" id="modalModulos" tabindex="-1" role="dialog"
                             aria-labelledby="moduloModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="moduloModalLabel" >Listado de Módulos</h5>                                
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

                                    </div>
                                    <div class="modal-body">
                                        <div th:if="${modulosSeleccionar != null and !modulosSeleccionar.empty}">
                                            <table class="table" id="tablaModulos">
                                                <thead>
                                                    <tr>
                                                        <th hidden="true">Id</th>
                                                        <th>Código</th>
                                                        <th>Nombre:</th>
                                                        <th>Horas:</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr th:each="item:${modulosSeleccionar}">
                                                        <td hidden="true" th:text="${item.idModulo}"></td>
                                                        <td th:text="${item.codigoModulo}"></td>
                                                        <td th:text="${item.nombreModulo}"></td>
                                                        <td th:text="${item.horasModulo}"></td>
                                                        <td>
                                                            <a href="#" th:onclick="seleccionarModulo([[${item.idModulo}]],[[${item.nombreModulo}]])">Seleccionar</a>
                                                        </td>
                                                    </tr>

                                                </tbody>
                                            </table>
                                        </div>
                                        <div th:if="${modulosSeleccionar == null or modulosSeleccionar.empty}">
                                            No hay Módulos guardados
                                        </div>

                                    </div>

                                    <div class="modal-footer">
                                        <button id="btonCerrar" type="button" class="btn btn-primary"
                                                data-bs-dismiss="modal">Cerrar</button>
                                    </div>                            
                                </div>

                            </div>


                        </div> <!--FIN MODAL-->
                    </section>

                    <script type="text/javascript">
                        function seleccionarModulo(id, nombre) {
                            $("#idModulo").val(id);
                            $("#nombreModulo").val(nombre);
                            $("#btonCerrar").click();
                        }

                        $(document).ready(function () {
                            $("#tablaModulos").DataTable({
                                "ordering": false,
                                "lengthMenu": [5, 10, 15],
                                "language": {"url": "https://cdn.datatables.net/plug-ins/1.11.5/i18n/es-ES.json"}
                            })
                        })

                    </script>
                </div>
            </div>
        </div>
    </body>
</html>
