<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

    <head th:replace="plantillas/plantilla1 ::head">
        <title>TODO supply a title</title>
    </head>
    <body style="display: flex">
        <header th:replace="plantillas/plantilla1 ::header"></header>
        <div class="container py-3 bg-light rounded-3">
            <h1 class="card-header">Lista de Días no lectivos</h1>
            <div th:if="${msg!=null and !msg.empty}">
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <strong>Mensaje: </strong> <span th:text="${msg}">texto</span>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div> 
            </div>

            <div class="container mt-3">
                <div class="row me-1">
                    <div class="">
                        <a th:href="@{/nuevoDia}" class="btn btn-primary form-control"><i class="fas fa-user-plus"></i> Agregar día</a>
                    </div>
                </div>
                <div class="mt-3" th:if="${dias != null and !dias.empty}">
                    <table class="table table-striped table-hover shadow p-3 mb-3 bg-body rounded" id="tablaDias">
                        <thead class="table-dark">
                            <tr>
                                <th hidden="true">Id</th>
                                <th>Motivo</th>
                                <th>Fecha de inicio</th>
                                <th>Cantidad de días</th>
                                <th>Centro de Formación</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="item:${dias}">
                                <td th:text ="${item.idDiaFeriado}" hidden="true"></td>
                                <td th:text ="${item.nombreDiaFeriado}"></td>
                                <td th:text ="${item.fechaInicioDiaFeriado}"></td>
                                <td th:text ="${item.diasTotalesDiaFeriado}"></td>
                                <td th:if="${item.centrosFormacionesByIdCentroFormacion}==null">
                                    
                                </td>
                                <td th:if="${item.centrosFormacionesByIdCentroFormacion}!=null">
                                    <span th:text="${item.centrosFormacionesByIdCentroFormacion.codigoCentroFormacion}"></span>
                                </td>
                                <td> 
                                    <a th:href="@{/editarDia/}+${item.idDiaFeriado}" class="link-secondary"><i class="fas fa-pen"></i> Editar</a> | 
                                    <a th:href="@{/eliminarDia(idDiaFeriado=${item.idDiaFeriado})}" class="link-secondary"><i class="fas fa-trash-alt"></i> Eliminar</a>
                                </td>
                            </tr>

                        </tbody>

                    </table>
                </div>
                <div th:if="${dias == null or dias.empty}">
                    Actualmente no hay días no lectivos de.
                </div>
            </div>
            <script type="text/javascript">
                $(document).ready(function () {
                    $("#tablaDias").DataTable({
                        "ordering": true,
                        "lengthMenu": [5, 10, 15],
                        "language": {"url": "https://cdn.datatables.net/plug-ins/1.11.5/i18n/es-ES.json"}
                    })
                })

            </script>
        </div>
    </body>
</html>
