<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

    <head th:replace="plantillas/plantilla1 ::head">
        <title>TODO supply a title</title>
    </head>
    <body style="display: flex">
        <header th:replace="plantillas/plantilla1 ::header">

        </header>
        <div class="container mt-3 py-3 bg-light rounded-3">
            <div class="row">
                <div class="col3">
                    <h2>Seleccione la modalidad de la referencia</h2>
                    <a th:href="@{/nuevaReferencia}" class="btn btn-primary">Programa</a>
                    <a th:href="@{/nuevaReferenciaMod}" class="btn btn-success">Módulo Individual</a>
                </div>
            </div>
        </div>
        
    </body>
</html>
