<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head th:replace="plantillas/plantilla1 :: head">
        <title>Cronograma INA</title>
        <meta charset="UTF-8"/>

    </head>
    <body>
        <div class="container mt-3 py-3 bg-light rounded-3">
            <header th:replace="plantillas/plantilla1 :: header"></header>
            <h1 class="card-header">Administrar Módulos de Referencia</h1>
            
            <div class="row">
                <div class="col-10 mx-auto">
                    <form th:action="@{/guardarModuloRef}" method="post" th:object="${moduloReferencia}">
                        <input type="hidden" name="idModuloR" th:field="*{idModuloReferencia}"/>
                        <input type="hidden" name="idReferencia" th:field="${referencia.idReferencia}"/>
                         <input type="hidden" name="idReferencia" th:field="${profesor.idReferencia}"/>
                        
                         
                         <div class="row">
                        <div class="col-6">
                            <label for="horaInicial" class="form-label">Seleccione la hora inicial</label>
                            <div class="input-group">
                                <input type="time" id="horaInicial" name="horaInicial" value=""
                                       th:field="*{horaInicioModuloReferencia}" class="form-control"/>
                            </div> 
                        </div>

                        <div class="col-6">
                            <label for="horaFinal" class="form-label">Seleccione la hora final</label>
                            <div class="input-group">
                                <input  th:field="*{horaFinalModuloReferencia}"
                                        class="btn btn-outline-primary form-control" type="time" id="horaFinal" name="horaFinal" value=""/>
                            </div> 
                        </div>

                        </div>
                        
                         <div class="row">
                         <div class="col-6">
                            <label class="form-label">Ingrese los días lectivos, con respecto a los ejemplos:</label>
                            <label class="form-label">LKMJV</label>
                            <label class="form-label">LKJVS</label>
                            <label class="form-label">No use espacios, comas u otro símbolo</label>
                           <label class="form-label">L: LUNES, K: MARTES, M:MIÉRCOLES, J:JUEVES, V:VIERNES y S:SABADO</label> 
                       
                           <input type="text" id="dias" name="dias" value="" th:field="*{diasModuloReferencia}"/>

                        </div>
                             
                             
                             
                             
                         </div>
                       

                        
                        <div th:if="${eliminarModRef == null and modificarModRef == null}">
                            <input type="submit" value="Guardar" class="btn btn-primary" name="btnGuardar"/>
                            <a th:href="@{/modulosReferencia}+${referencia.idReferencia}" class="btn btn-warning">Regresar</a>
                        </div>
                         <div th:if="${modificarModRef != null}">
                             <a th:href="@{/actualizarModRef/}+${moduloReferencia.idModuloReferencia}" class="btn btn-warning" name="btnEliminar">Eliminar</a>
                            <a th:href="@{/modulosReferencia}+${referencia.idReferencia}" class="btn btn-warning">Regresar</a>
                        </div>
                         <div th:if="${eliminarModRef != null}">
                             <a th:href="@{/eliminarModRef/}+${moduloReferencia.idModuloReferencia}" class="btn btn-warning" name="btnEliminar">Eliminar</a>
                            <a th:href="@{/modulosReferencia}+${referencia.idReferencia}" class="btn btn-warning">Regresar</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
